@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.checkout-header {
    display: flex;
    align-items: center;
    justify-content : space-around;

    padding-left: 30px;
    padding-right: 30px;

    background-color: black;
    color: whitesmoke;


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.checkout-amazon-logo {
    width: 100px;
    padding-top: 5px;
}

.checkout-header-middle-side {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.logout-link {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
